div 
    form#productForm
        label(for='producto') Producto
        input(id='producto',name='producto')
        label(for='precio') Precio
        input(id='precio',name='precio')
        label(for='img') Imagen
        input(type="file",id='img',name='img')
        input(type="submit")
script(src="js/form.js") 