div 
    form#productForm
        label(for='name') Producto
        input(id='name',name='name')
        label(for='price') Precio
        input(id='price',name='price')
        label(for='img') Imagen
        input(type="file",id='img',name='img')
        input(type="submit")
script(src="js/form.js") 