<div>
    <form id="productForm">
        <label for="name">Producto</label>
        <input id="name" name="name">
        <label for="price">Precio</label>
        <input id="price" name="price">
        <label for="img">Imagen</label>
        <input type="file" id="img" name="img">
        <input type="submit">
    </form>
</div>

<script src="js/form.js"></script>