<div>
    <form id="productForm">
        <label for="producto">Producto</label>
        <input id="producto" name="producto">
        <label for="precio">Precio</label>
        <input id="precio" name="precio">
        <label for="img">Imagen</label>
        <input type="file" id="img" name="img">
        <input type="submit">
    </form>
</div>

<script src="js/form.js"></script>